/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 0;
  font-family: serif;
  font-size: 20px;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

.content-container {
  position: absolute;
}

.content-container i {
  font-size: 28px;
  position: absolute;
  color: black;
  display: inline-block;
  margin-top: 20px;
  cursor: pointer;
}

i:hover {
   background: #63c6f0;
  font-size: 30px;
  border-radius: 20px;
}

.left {
  left: 10px
}

.right {
  right: 10px
}

h1 {
  background: #ECD444;
  font-size: 50px;
  padding: 10px;
  font-family: "Luckiest Guy", cursive;
  text-align: center;
  animation-duration: 2.5s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
/* every element with this class takes up the full 
width and height of the screen */
.full-screen {
  border: 1px solid black;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 40px;
}

.full-screen p {
  padding: 10px;
}

.hidden {
  visibility: hidden;
}

#slide-1 {
  background: rgb(99,198,240);
background: linear-gradient(0deg, rgba(99,198,240,1) 0%, rgba(240,235,99,1) 47%, rgba(255,255,255,1) 100%);
  padding: 50px;
  margin; 50px;
  font-size: 20px;
}

#slide-2 {
background: rgb(99,198,240);
background: linear-gradient(0deg, rgba(99,198,240,1) 0%, rgba(240,235,99,1) 47%, rgba(255,255,255,1) 100%);
}

#slide-3 {
background: rgb(99,198,240);
background: linear-gradient(0deg, rgba(99,198,240,1) 0%, rgba(240,235,99,1) 47%, rgba(255,255,255,1) 100%);
}

#slide-4 {
background: rgb(99,198,240);
background: linear-gradient(0deg, rgba(99,198,240,1) 0%, rgba(240,235,99,1) 47%, rgba(255,255,255,1) 100%);
}

#slide-5 {
background: rgb(99,198,240);
background: linear-gradient(0deg, rgba(99,198,240,1) 0%, rgba(240,235,99,1) 47%, rgba(255,255,255,1) 100%);
}

body{
    height: 100vh;
background: rgb(99,198,240);
background: linear-gradient(90deg, rgba(99,198,240,1) 0%, rgba(255,245,67,1) 53%, rgba(99,198,240,1) 100%);
  margin: 30px;
  padding: 10px;
}

.task button{
    background-color: #6583e5;
    color: #ffffff;
    border: none;
    cursor: pointer;
    outline: none;
    height: 100%;
    width: 40px;
    border-radius: 5px;
}

button{
    width:200px;
    height:70px;
    background: linear-gradient(to left top, #0C0504 50%, #0C0504 50%);
    border-style: none;
    color:#FFF8DC;
    font-size: 12px;
    letter-spacing: 3px;
    font-family: "Raleway", cursive;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all .5s;
    box-shadow: 0px 1px 2px rgba(0,0,0,.2);
   margin: 10px;
    padding; 10px;
 
}
button span{
    position: absolute;
    display: block;
}
button span:nth-child(1){
    height: 3px;
    width:200px;
    top:0px;
    left:-200px;
    background: linear-gradient(to right, rgb(0, 139, 139), #008B8B);
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span1 2s linear infinite;
    animation-delay: 1s;
}

@keyframes span1{
    0%{
        left:-200px
    }
    100%{
        left:200px;
    }
}
button span:nth-child(2){
    height: 70px;
    width: 3px;
    top:-70px;
    right:0px;
    background: linear-gradient(to bottom, rgb(184, 134, 11), #B8860B);
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span2 2s linear infinite;
    animation-delay: 2s;
}
@keyframes span2{
    0%{
        top:-70px;
    }
    100%{
        top:70px;
    }
}
button span:nth-child(3){
    height:3px;
    width:200px;
    right:-200px;
    bottom: 0px;
    background: linear-gradient(to left, rgba(0,0,0,0), #f6e58d);
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    animation: span3 2s linear infinite;
    animation-delay: 3s;
}
@keyframes span3{
    0%{
        right:-200px;
    }
    100%{
        right: 200px;
    }
}

button span:nth-child(4){
    height:70px;
    width:3px;
    bottom:-70px;
    left:0px;
    background: linear-gradient(to top, rgb(184, 134, 11), #B8860B);
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    animation: span4 2s linear infinite;
    animation-delay: 4s;
}
@keyframes span4{
    0%{
        bottom: -70px;
    }
    100%{
        bottom:70px;
    }
}

button:hover{
    transition: all .5s;
    transform: rotate(-3deg) scale(1.1);
    box-shadow: 0px 3px 5px rgb(210, 105, 30);
}
button:hover span{
    animation-play-state: paused;
}

#seventh>button{
  border:1px solid rgb(102, 205, 170);
  transition:all .5s ease-in-out;
}

#seventh:hover button{
  border:1px solid white;
  font-size:20px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

h2 {
  font-family: 'Bangers', cursive;
  font-size:50px;
  text-align: center;
  padding: 10px;
  color: #F7A278
}

#checklist {
  position: relative;
  top:0;
  bottom:0;
  width:200px;
  padding: 25px;
  background: blue;
}

.hidden-checklist {
  width: 0px;
  overflow: hidden;
  padding: 0;
}

